<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pro Trator</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/stylleee.css">

</head>

<body style="background-color: #F2f2f2;">
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-database.js"></script>
    <script src="controlPgtrator.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> PRO. TRATOR</a>
        <div class="container">
          <div class="col center">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            
            <a class="btn btn-danger" href="PROTRATOR.html">INICIO</a>
        </div>
       </div>
      </div>
      <div class="navbar-nav">
        <a class="navbar" href="EXECULTADOS.html">   ATENDIDOS   </a>

      </div>
      <div class="navbar-nav">
        <a class="navbar" href="LISTAESPERA.html">   EMITIDOS   </a>             

      </div>
      <div class="navbar-nav">
        <a class="navbar" href="PAGOS.html">   PAGOS   </a>             

      </div>
      <div class="navbar-nav">
        <a class="navbar" href="PGTRATOR.html">   PG TRATOR   </a>             

      </div>
      <div class="navbar-nav">
        <a class="navbar" onclick="sair()">   sair   </a>             

      </div>
      
    </div>
      </nav>
	  
	   <div id= "geral" style="margin-top: 20px;">
        <h3>CADASTRO TRATOR</h3>
        <form  class="container col-12" action="javascript:InserirTrator();">
            <form class="form-row">
                <div class="row">
                    <div class="col">
                        <input class="form-control" placeholder="Nome" type="text "id="trator" required><br>
                    </div>
                   
                    
                    
                </div>
                <div class="row">
                    <div class="col">
                        <input class="form-control" placeholder="Localidade" type="text" id="localidade" required><br>
                     
                    </div>
                    
                    <div class="col">
                        <input class="form-control" placeholder="Valor / hora" type="text" maxlength="11" id="horaV" required><br>

                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="TELEFONE" type="tel" maxlength="11" id="tel" ><br>

                    </div>
                </div>

                
                <input type="submit" class="btn btn-primary">
        </form >
 <div id= "geral" style="margin-top: 20px;">
        <h3>
            PAGAMENTO
        </h3>
        <form  class="container col-12" action="javascript:InserirPagamento();">
            <form class="form-row">
                <div class="row">
                    
                    
                    <div class="col">
                        <select class="custom-select" id="Tratores">
                          
                            

                        </select><br>
                    </div>
               
             
                    <div class="col">
                        <input class="form-control" placeholder="Valor Pago" type="text" id="valor" required><br>
                     
                    </div>
                  
                </div>

                
                <input type="submit" class="btn btn-primary">
        </form >


    <div id= "geralAt" style="margin-top: 20px;">
        
        
        </form >
        <div id="inf"></div>

        <table class="table table-striped" style="margin-top: 20px;" id="tbl_users_list" ,border="3">
            <tr>
                <td scope="col">TRATOR</td>
                <td scope="col">HORAS EXECUTADAS</td>
                <td scope="col">HORAS PAGAS</td>
                <td scope="col">VALOR PAGO</td>
                <td scope="col">VALOR RESTANTE</td>
                <td scope="col">LOCALIDADE</td>
                <td scope="col">DT ULT. PAG</td>
                <td scope="col">TELEFONE</td>
                
               
                
            </tr>
        </table>
    </div>
	
    <div id="divImp">
	
	<div id="impressao"></div>
	
	
	</div>
    </div>

</body>

</html>
